/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.dusk.local
.env.dusk.testing
.phpunit.result.cache
npm-debug.log
.idea
.editorconfig
.phpstorm.meta.php
_ide_helper.php
!/resources/
/build/
/public/js/app.js
/public/css/app.css
