
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$fronds-body-bg: #2f2f2f;

// flags
$fronds-btn-has-border: true;
$fronds-btn-has-hover: true;
$fronds-menu-has-highlight: true;
$fronds-header-has-hover: true;

// buttons
$fronds-btn-confirm: rgba(87, 226, 70, 0.6);
$fronds-btn-cancel: #ad2326;
$fronds-btn-submit: rgba(54, 35, 226, 0.6);
$fronds-btn-button: #36cfe2;
$fronds-btn-text: #000000;
$fronds-btn-text-secondary: #ffffff;
$fronds-btn-text-font: 'Poppins', sans-serif;
$fronds-btn-text-size: 1rem;
$fronds-btn-border: none;
$fronds-btn-confirm-light-hover: none;
$fronds-btn-confirm-dark-hover: none;
$fronds-btn-cancel-light-hover: none;
$fronds-btn-cancel-dark-hover: none;
$fronds-btn-border-radius: 15px;



@if($fronds-btn-has-border) {
    $fronds-btn-border: 1px black solid;
}

@if($fronds-btn-has-hover) {
    $fronds-btn-confirm-light-hover: lighten($fronds-btn-confirm, 0.5);
    $fronds-btn-confirm-dark-hover: darken($fronds-btn-confirm, 0.5);
    $fronds-btn-cancel-light-hover: lighten($fronds-btn-cancel, 0.5);
    $fronds-btn-cancel-dark-hover: darken($fronds-btn-cancel, 0.5);
}

// menus

$fronds-menu-font-color: #ffffff;
$fronds-menu-font-size: $font-size-base;
$fronds-menu-highlight-color: none;
$fronds-dropdown-header-bg-color: #ffffff;

@if($fronds-menu-has-highlight) {
    $fronds-menu-highlight-color: #000000;
}

// text

$fronds-header-font-color: #000000;
$fronds-header-bg-color: #ffffff;
$fronds-header-font-size: 1.2rem;
$fronds-header-hover-color: #FF88F8; // for grins and testing
$fronds-text-font-color: #FFFFFF;
$fronds-input-font-color: #000000;
$fronds-text-valid-color: #3dd533;
$fronds-text-invalid-color: #ff2846;
$fronds-text-help: #929292;

// forms

$fronds-input-border-color: #000000;
$fronds-input-border-width: 1px;
$fronds-input-valid-color: $fronds-text-valid-color;
$fronds-input-valid-border-width: $fronds-input-border-width;
$fronds-input-invalid-color: $fronds-text-invalid-color;
$fronds-input-invalid-border-width: $fronds-input-border-width;




$body-bg: $fronds-body-bg;

// SECTION WIDGETS

// panel

$fronds-panel-header-text-color: #000000;
$fronds-panel-header-text-size: 12pt;

$fronds-panel-body-text-color: #000000;
$fronds-panel-body-text-size: 12pt;

$fronds-panel-footer-text-color: #000000;
$fronds-panel-footer-text-size: 8pt;

$fronds-panel-header-height: 35px;
$fronds-panel-body-height: 100%;
$fronds-panel-footer-height: 35px;

$fronds-panel-header-bg-color: #ffffff;
$fronds-panel-body-bg-color: #ffffff;
$fronds-panel-footer-bg-color: #ffffff;

$fronds-panel-outside-hor-margin: 80px;
$fronds-panel-outside-vert-margin: 0px;

$fronds-panel-inside-hor-padding: 5px;
$fronds-panel-inside-vert-padding: 5px;

$fronds-panel-height: 100%;
$fronds-panel-min-height: $fronds-panel-height;

$fronds-panel-rounded-corners: true;
$fronds-panel-border-radius: 5px;


// END SECTION WIDGETS