
$fronds-admin-header-width: 100%;
$fronds-admin-header-height: 200px;
$fronds-admin-header-padding-top: 20px;
$fronds-admin-header-padding-left: 5px;
$fronds-admin-header-padding-right: 5px;
$fronds-admin-header-padding-bottom: 5px;


$fronds-admin-header-border-style: solid;
$fronds-admin-header-border-size: 1px;
$fronds-admin-header-border-color: black;



// toggles
$fronds-admin-header-border: false;

